<?xml version="1.0" encoding="utf-8"?>

<!-- The following code was found online and tweaked for my specific use case. (Still in the process of learning configuration for XML). -->

<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/parts</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">lego</property>

        <!-- Specify dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Define classes -->
        <mapping class="parts.CPU"/>
        <mapping class="parts.GPU"/>
    </session-factory>
</hibernate-configuration>
